[submodule "themes/ascii-press"]
	path = themes/ascii-press
	url = https://github.com/bric3/ascii-press
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
